    <nav class="bottom-nav">
        <ul>
            <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-shouye"></use>
                  <p>Me</p>
                </svg>
            </li>
            <li class="active">
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-icon"></use>
                  <p>Blogs</p>
                </svg>
            </li>
            <li>
                <svg class="icon" aria-hidden="true">
                  <use xlink:href="#icon-icon1"></use>
                  <p>Works</p>
                </svg>
            </li>
        </ul>
    </nav>
    <script src='bundle.js'></script>
</body>
</html>